@media (max-width: 1200px) {
  .header {
    &__nav {
      &-list {
        width: 20vw;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__nav {
      &-list {
        width: 25vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      &-list {
        width: 33vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__nav {
      &-list {
        margin-top: 10px;
        width: 90vw;
      }
    }
  }
}