.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #C9C9C9;
  &__title {
    font-size: 30px;
  }
  &__nav {
    &-list {
      list-style-type: none;
      display: flex;
      width: 15vw;
      justify-content: space-around;
    }
    &-item {
      line-height: 30px;
      button {
        font-size: 25px;
        border: none;
        background: none;
        outline: none;
        color: black;
        transition: 0.4s;
        cursor: pointer;
        &:focus {
          color: #32B1F0;
        }
        &:hover {
          color: #32B1F0;
        }
      }
    }
  }
}