<section class="homepage">
  <form class="homepage__citysearch">
    <input name="input" type="text" class="homepage__citysearch-inp" #input placeholder="City search" (keydown.enter)="showCityList()" [(ngModel)]="inputValue">
    <select name="select" #select  [ngClass]="{'homepage__citysearch-sel': condition, 'active': !condition}" 
    (change)="chosenCity()" [(ngModel)]="selectValue">
      <option class="homepage__citysearch-op" *ngFor="let city of requestedCityData">{{ city.LocalizedCityName }}</option>
    </select>
  </form>
  <div class="homepage__currcity">
    <div class="homepage__currcity-interface">
      <div class="homepage__currcity-img"></div>
      <ul class="homepage__currcity-info">
        <li class="homepage__currcity-name">{{ currentCityData.currCity }}</li>
        <li class="homepage__currcity-temp">{{ currentCityData.currTemp }}<sup>o</sup> C</li>
      </ul>
    </div>
    <div class="homepage__currcity-add">
      <div [ngClass]="{'homepage__currcity-favicon': status, 'activeicon': !status}"></div>
      <button class="homepage__currcity-favbtn" (click)="addThisCity()">Add to Favorite</button>
    </div>
  </div>
  <ul class="homepage__currforecast">
    <li class="homepage__currforecast-day" *ngFor="let dayData of currentCityFiveDayRenderData">
      <span>{{ dayData.day }}</span>
      <span>{{ dayData.metric }}<sup>o</sup> C</span>
    </li>
  </ul>
</section>
